.card{
  display:flex;
  flex-direction: row;
}

.backgroundOrange{
  border-radius:5px;
  padding:5px;
  font-size: 2rem;
  text-align:center;
    &:hover{
      background-color:tomato;
      cursor:pointer;
    }
}

.grid-7{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  &>*{
    width:50px;
    height:50px;
  }
}

.letterRow{
  background-color:rgb(199, 198, 198);
  padding:2px;
}

.days{
  &>*{
    margin:3px;
    border-color:rgb(199, 198, 198);
    border-style:solid;
    border-width: 2px;
    border-radius:5px;
  }
}

.month{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:tomato;
  padding:5px;
  font-size:5rem;
  height:calc(5rem + 10px);
}

.popUp{
  display:flex;
  position:fixed;
  width: 7rem;
  height:5rem;
  padding:5px;
}

.selected{
  background-color:orange;
  border-radius:50%;
}

.addCalendar{
  padding:1em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: tomato ;
  gap:5px;
  h2{
    color:darkgrey;
    font-weight:800;
    
  }
}